// variable
:root {
    --font-body: 'Outfit', sans-serif;
    --font-heading: 'Plus Jakarta Sans', sans-serif;

    --color-primary: #3C12D4;
    
    --gradient-color-from: #45ACAB;
    --gradient-color-to: #4788AC;

    --color-white: #fff;
    --color-black: #000;
    --color-default: #B3B3C0;
    --color-dark: #0F1928;
    --color-gray: #eeedef;
}

